.Cover-Screen{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.418);
}

.Exam-Cont{
    background-color: white;
    width: 400px;
    height: 250px;
    margin-left: 35%;
    margin-top: 10%;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.Exam-Cont textarea{
    width: 200px;
    font-size: 16px;
    margin-bottom: 10px;
    max-width: 300px;
}

#Exam-Description{
    background-color: #e8e8e8;
    border: none;
    border-radius: 5px;
    outline: none;
    height: 100px;
}

.Exam-Cont button{
    height: 25px;
    width: 50px;
    margin-left: 30%;
    margin-top: 10px;
    border: none;
    border-radius: 10px;
    background-color: transparent;

    color: #6f6e6e;
    border-color: #6f6e6e;

    cursor: pointer;
}

.Exam-Cont button:hover{
    background-color: #e8e8e8;
}

.ExamBackground{
    background-color: #dbdbdb77;
    width: 200px;
    height: 50px;
    margin-left: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    transition: 0.2s;
}

.ExamBackground div{
    display: flex;
    background-color: white;
    width: auto;
    padding: 0px 10px 0px 10px;
    height: 35px;
    align-items: center;
    margin-left: 10px;
    border-radius: 10px;
}

.ExamBackground:hover {
    box-shadow: #6f6e6e 2px 2px 2px;
}

.ExamBackground div p{
    margin-left: 10px;
    width: auto;
    padding: 5px;
    text-align: center;
    border-radius: 8px;
    background-color: #45bc43a2;
    color: #03A400;
    resize: none;
}

.Date{
    width: 20px;
    height: 25px;
    text-align: center;
    border-radius: 8px;
    margin-left: 10px;
}

.Delete-Form{
    background-color: white;
    height: 140px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: 10px;

    margin-left: 40%;
    margin-top: 20%;
}

.Delete-Form p{
    text-align: center;
    margin-top: 10%;
}

.Delete-Form button{
    font-size: 1rem;
}

.Delete-Form .Btn-Del{
    background-color: #cf141477;
    color: #CF1414;
    border: none;
    border-color: #CF1414;
    border-radius: 10px;
    border-width: 2px;

    height: 30px;
    width: 80px;
    cursor: pointer;
}

.Delete-Form .Btn-Cancel{
    background-color: #E0E0E0;
    color: #625F6D;
    border: none;
    border-color: #625F6D;
    border-radius: 10px;
    border-width: 2px;

    height: 30px;
    width: 80px;
    cursor: pointer;
}