.Topic-Cont{
    border-bottom: solid;
    border-color: #6f6e6e65;
    border-width: 2px;
    height: auto;
    align-items: center;

    display: inline-flex;
    min-width: 400px;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.Topic{
    background-color: white;
    height: 80px;
    width: 120px;
    min-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    font-size: 18px;
    border-radius: 15px;

    margin: 15px;
    margin-right: 5px;

    animation: fadeIn 1s;
}

.Topic:hover .Edition{
    opacity: 100%;
    transition: 0.7s;
}

.Topic p{
    margin: 0;
    margin-top: auto;
}

.Topic .Edition{
    margin-bottom: 10px;
    opacity: 0%;
}

.Topic .Edition button{
    height: 20px;
    width: 20px;
    background-color: transparent;
    padding: 0px;
    border: none;
    border-radius: 5px;

    cursor: pointer;
}

.Topic img{
    max-height: 15px;
    max-width: 15px;
}

.Topic .Edition button:hover{
    background-color: #6f6e6e33;
    transition: 0.5s;
}

.Topic input{
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
    text-align: center;
    font-size: 1rem;
}

.Green-Review{
    background-color: #45bc43a2;
    color: #03A400;
}

.Red-Review{
    background-color: #ff020294;
    color: #AC0202;
}

.Yellow-Review{
    background-color: #f6c934c6;
    color: #A97900;
}

.Btn-Add{
    background-color: transparent;
    height: 80px;
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    font-size: 28px;
    border-radius: 15px;
    order: 2;

    border: solid;
    color: #DBDBDB;
    border-color: #DBDBDB;

    transition: 0.5s;

    cursor: pointer;
}

.Btn-Add:hover{
    border-color: #6f6e6e;
    color: #6f6e6e;
    border-radius: 20px;

    transition: 0.5s;
}

.Adder{
    flex-direction: column;
    order: 2;
    margin-right: 15px;
    font-size: 16px;

    opacity: 50%;
}

.Adder:hover{
    opacity: 100%;
    transition: 0.7s;
}

.Adder button{
    width: 15px;
    height: 15px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    cursor: pointer;
}

.Adder button:hover{
    border: solid;
    border-width: 1px;
}

.Adder .R{
    background-color: #FF0202;
}

.Adder .Y{
    background-color: #F7B406;
}

.Adder .G{
    background-color: #05ED00;
}

.wrapper{
    height: 100%;
    max-width: 100%;
    overflow: scroll;
}